# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Built assets
build/
.next/

# Dependency directories
node_modules/

*.swp
*.swo
.DS_Store
pnpm-debug.log*

# test coverage
coverage/
.idea
.vercel
.private-journal/
