$darkbrown: rgba(91, 49, 25, 1);
$lightbrown: rgba(157, 110, 51, 1);
$gray: rgba(126, 140, 138, 1);
$darkgray: rgba(50, 56, 55, 1);
$navy: rgba(30, 47, 69, 1);
$straw: rgba(225, 197, 113, 1);
$cyan: rgba(79, 124, 172, 1);
$urobilin: rgba(230, 175, 46, 1);
$rose: rgba(244, 91, 105, 1);
